{{extend 'myLayout.html'}}
<div class="overlay">
    <div class="container">
        <div class="row row1">
            <div class="col-12 my-5">
                <h1 class="mainTitle mainTitle2">
                    Courses List
                </h1>
                <!-- <p class="info">With us, you can control and perform all your registration processes.</p> -->
            </div>
            <div class="col-md-4">
                <div class="search-div">
                    <input type="search" placeholder="Search code..." class="form-control my-2" id="searchCode" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-div">
                    <input type="search" placeholder="Search by course name..." class="form-control my-2" id="searchName" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-div">
                    <input type="search" placeholder="Search by instructor name..." class="form-control my-2" id="searchInstructor" >
                </div>
            </div>
            <div class="col-12">
                
                    <table class="table text-dark data text-center my-5">
                        <thead>
                        <tr class="row">
                            <th class="col needtowrap">#</th>
                            <th class="col needtowrap">Code</th>
                            <th class="col-3 needtowrap">Name</th>
                            <th class="col-3 needtowrap">Instructor</th>
                            <th class="col-3 needtowrap">Achion</th>
                        </tr>
                        </thead>
                        <tbody class="coursesDataTable">
                          
                        </tbody>
                      </table>
                
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="modalCode"></p>
              <p class="modalDescription"></p>
              <p class="modalInstructor"></p>
              <p class="modalDays"></p>
              <p class="modalTime"></p>
              <p class="modalRoom"></p>
              <p class="modalPrerequisites"> </p>
              <p class="modalCapacity"></p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary close2" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
<script src="{{=URL('static','js/coursesListJs.js')}}"></script>